@import "tailwindcss";
.dark body {
  background-color: #1f2937; /* Tailwind's gray-800 */
  color: white;
}

/* :root {
  --font-inter: "Inter", sans-serif;
  --font-lora: "Lora", serif;
} */
/* body { */
/* font-family: "Arial", sans-serif; */
/* background-color: #f7f7f7;
  color: #111;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
} */

/* styles/globals.css */
/* Hide scrollbars only on mobile */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Restore scrollbars on laptops/desktops (non-touch) */
@media (min-width: 768px) {
  .no-scrollbar-md::-webkit-scrollbar {
    display: initial;
  }
  .no-scrollbar-md {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }
}
